* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color:#120429;
}

nav {
  background-color: #120429;
}
section {
  height: 100vh;
  background-color: whitesmoke;
  min-height: fit-content;
}
